import 'i18next';

import { resources } from './resources';

declare module 'i18next' {
  interface CustomTypeOptions {
    defaultNS: 'translation';
    returnNull: false;
    resources: (typeof resources)['en'];
  }
}
