export { getDeviceLanguage, i18n, i18nInitialization } from './config';
export { DEFAULT_LANGUAGE, isSupportedLanguage, resources, SUPPORTED_LANGUAGES } from './resources';
export type { SupportedLanguage } from './types';
